<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <!-- CSS files -->
    <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/dist/css/demo.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <style>
        body {
            display: none;
        }
    </style>
</head>
<body class="antialiased">
<div class="page">
    <div class="content">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <div class="row" style="padding: 20px">
                        <div class="card-body">
                            <form>
                                <div class="form-group mb-3">
                                    <label class="form-label">任务名称</label>
                                    <div>
                                        <input type="text" class="form-control" th:value="${task.jobName}" disabled name="example-disabled-input">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">所属组</label>
                                    <div>
                                        <input type="text" class="form-control" th:value="${task.jobGroup}" disabled name="example-disabled-input">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">Cron表达式</label>
                                    <div>
                                        <input type="text" class="form-control" th:value="${task.cronExpression}" disabled
                                               name="example-disabled-input">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">Class名称</label>
                                    <div>
                                        <input type="text" class="form-control" th:value="${task.beanClass}" disabled name="example-disabled-input">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">状态</label>
                                    <div th:switch="${task.jobStatus}">
                                        <input type="text" class="form-control" th:case="0" name="example-disabled-input" disabled value="运行">
                                        <input type="text" class="form-control" th:case="1" name="example-disabled-input" disabled value="停止">
                                        <input type="text" class="form-control" th:case="2" name="example-disabled-input" disabled value="暂停">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">描述</label>
                                    <div>
                                        <input type="text" class="form-control task-description" name="example-disabled-input" disabled
                                               th:value="${task.description}">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">创建时间</label>
                                    <div>
                                        <input type="text" class="form-control task-description" name="example-disabled-input" disabled th:value="${#dates.format(task.createTime, 'yyyy-MM-dd HH:mm:ss')}">
                                    </div>
                                </div>
                                <div class="form-group mb-3" th:if="${task.updateTime} != null">
                                    <label class="form-label">修改时间</label>
                                    <div>
                                        <input type="text" class="form-control task-description"
                                               name="example-disabled-input" disabled
                                               th:value="${#dates.format(task.updateTime, 'yyyy-MM-dd HH:mm:ss')}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Libs JS -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/js/jquery.ztree.all.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
<!-- Tabler Core -->
<script src="/dist/js/tabler.min.js"></script>
<script>
    document.body.style.display = "block";
</script>
</body>
</html>
