<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <!-- CSS files -->
    <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/dist/css/demo.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link href="/dist/css/metroStyle/metroStyle.css" rel="stylesheet"/>
    <style>
        body {
            display: none;
        }
    </style>
</head>
<body class="antialiased">
<div class="page">
    <div class="content">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <div class="row" style="padding: 20px">
                        <div class="card-body">
                            <form>
                                <div class="form-group mb-3">
                                    <label class="form-label">任务名称</label>
                                    <div>
                                        <input type="text" class="form-control task-name" th:value="${task.jobName}"
                                               name="example-disabled-input" disabled>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">所属组</label>
                                    <div>
                                        <input type="text" class="form-control task-group" th:value="${task.jobGroup}"
                                               name="example-disabled-input" disabled>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">Cron表达式</label>
                                    <div>
                                        <input type="text" class="form-control cron-expression"
                                               th:value="${task.cronExpression}">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label required">Class名称</label>
                                    <div>
                                        <input type="text" class="form-control class-name" th:value="${task.beanClass}">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="form-label">状态</div>
                                    <div class="form-check-inline">
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input status" type="radio" value="0"
                                                   name="taskStatus" th:checked="${task.jobStatus == 0}"/>
                                            <span class="form-check-label">运行</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input status" type="radio" value="1"
                                                   name="taskStatus" th:checked="${task.jobStatus == 1}"/>
                                            <span class="form-check-label">停止</span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input status" type="radio" value="2"
                                                   name="taskStatus" th:checked="${task.jobStatus == 2}"/>
                                            <span class="form-check-label">暂停</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">描述</label>
                                    <div>
                                        <input type="text" class="form-control task-description"
                                               th:value="${task.description}">
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <button type="button" class="btn btn-primary formCommit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Libs JS -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/js/jquery.ztree.all.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
<!-- Tabler Core -->
<script src="/dist/js/tabler.min.js"></script>
<script src="/dist/js/task/updateTask.js"></script>
</body>
</html>
