<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title th:text="${text}"></title>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4"/>
        <meta name="theme-color" content="#206bc4"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="MobileOptimized" content="320"/>
        <meta name="robots" content="noindex,nofollow,noarchive"/>
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
        <!-- CSS files -->
        <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
        <link href="/dist/css/demo.min.css" rel="stylesheet"/>
        <style>
            body {
                display: none;
            }
        </style>
    </head>
    <body class="antialiased">
        <div class="page">
            <div th:replace="header :: top"></div>
            <div class="content">
                <div class="container-xl">
                    <!-- Page title -->
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h2 class="page-title" th:text="${text}"></h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th>编号
                                        </th>
                                        <th>名称
                                        </th>
                                        <th>创建时间
                                        </th>
                                        <th>修改时间
                                        </th>
                                        <th>状态
                                        </th>
                                        <th>类型
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="menu:${menus}" th:switch="${menu.type}">
                                        <td>
                                            <span th:text="${menu.id}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${menu.menuName}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#dates.format(menu.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${#dates.format(menu.updateTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                        </td>
                                        <td th:switch="${menu.isDelete}">
                                            <span th:case="true">有效</span>
                                            <span th:case="false">失效</span>
                                        </td>
                                        <td>
                                            <span th:case="D">目录</span>
                                            <span th:case="M">菜单</span>
                                            <span th:case="B">按钮</span>
                                        </td>
                                        <td class="text-right">
                                            <span>
                                                <button type="button" class="btn btn-primary btn-sm btn-pill"
                                                        th:onclick="show([[${menu.id}]]);">查看
                                                </button>
                                                <button type="button" class="btn btn-success btn-sm btn-pill"
                                                        th:onclick="edit([[${menu.id}]]);">编辑
                                                </button>
                                                <button type="button" class="btn btn-warning btn-sm btn-pill"
                                                        th:onclick="del([[${menu.id}]]);">删除
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div th:replace="footer :: footer"></div>
            </div>
        </div>
        <!-- Libs JS -->
        <script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Tabler Core -->
        <script src="/dist/js/tabler.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
        <script>
            document.body.style.display = "block";

            function show(id) {
                layuiIframe(id, "查看","/menu/childMenu?parentId="+id+"&type=M");
            }

            function edit(id) {
                layuiIframe(id, "编辑","/menu/childMenu?parentId="+id+"&type=M");
            }

            function del(id) {
                layuiIframe(id, "删除","/menu/childMenu?parentId="+id+"&type=M");
            }

            function layuiIframe(id, title,url) {
                layer.open({type: 2,title: title,closeBtn: 1,shade: [0],area: ['1000px', '600px'],offset: 'auto',content: [url, 'yes']});
            }
        </script>
    </body>
</html>
