<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:shirp="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title th:text="${text}">Heron</title>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4"/>
        <meta name="theme-color" content="#206bc4"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="MobileOptimized" content="320"/>
        <meta name="robots" content="noindex,nofollow,noarchive"/>
        <!--    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>-->
        <!--    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>-->
        <!-- CSS files -->
        <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
        <link href="/dist/css/demo.min.css" rel="stylesheet"/>
        <link href="/dist/css/layui.css" rel="stylesheet"/>
        <link href="https://cdn.bootcdn.net/ajax/libs/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css"
              rel="stylesheet">
        <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.css" rel="stylesheet">
        <style>
            body {
                display: none;
            }
        </style>
    </head>
    <body class="antialiased">
        <div class="page">
            <header class="navbar navbar-expand-md navbar-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="." class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
                        <img src="./static/logo.svg" th:src="@{/static/logo.svg}" alt="Tabler"
                             class="navbar-brand-image">
                    </a>
                    <div class="navbar-nav flex-row order-md-last">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown">
                                <div th:switch="${session.currentUser.avatar == '' or session.currentUser.avatar == null}">
                                    <span class="avatar avatar-md" th:case="true">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="icon icon-md" width="24"
                                                height="24" viewBox="0 0 24 24"
                                                stroke-width="2" stroke="currentColor"
                                                fill="none" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            <path
                                                    stroke="none" d="M0 0h24v24H0z"></path>
                                            <circle
                                                    cx="12" cy="7"
                                                    r="4"></circle>
                                            <path
                                                    d="M5.5 21v-2a4 4 0 0 1 4 -4h5a4 4 0 0 1 4 4v2"></path>
                                        </svg>
                                    </span>
                                    <span class="avatar avatar-md" th:case="false"
                                          th:style="'background-image:url('+${session.currentUser.avatar}+')'"></span>
                                </div>
                                <div class="d-none d-xl-block pl-2">
                                    <div th:text="${session.currentUser.account}">Paweł Kuna</div>
                                    <div class="mt-1 small text-muted" th:text="${session.currentUser.eMail}">UI
                                        Designer
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24"
                                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                         fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                                        <circle cx="12" cy="12" r="3"/>
                                    </svg>
                                    个人中心
                                </a>
                                <a class="dropdown-item" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24"
                                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                         fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z"/>
                                        <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"/>
                                        <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"/>
                                        <line x1="16" y1="5" x2="19" y2="8"/>
                                    </svg>
                                    登录日志
                                </a>
                            </div>
                        </div>
                        <div class="nav-item" style="margin-left: 20px;margin-right: 20px">
                            <a href="/logout">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                                </svg>
                                退出
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="navbar-expand-md">
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <div class="navbar navbar-light">
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/index">
                                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="icon" width="24" height="24"
                                                 viewBox="0 0 24 24" stroke-width="2"
                                                 stroke="currentColor" fill="none"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path
                                                        stroke="none" d="M0 0h24v24H0z"/>
                                                <polyline points="5 12 3 12 12 3 21 12 19 12"/>
                                                <path
                                                        d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/>
                                                <path
                                                        d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/>
                                            </svg>
                                        </span>
                                        <span class="nav-link-title">
                                            首页
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item" th:each="menu:${menus}"
                                    th:classappend="${menu.child.size() == 0} ? '' : dropdown"
                                    th:switch="${menu.child.size() > 0}">
                                    <a th:case="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false">
                                        <span class="nav-link-icon d-md-none d-lg-inline-block"></span>
                                        <span class="nav-link-title" th:text="${menu.menuName}"></span>
                                    </a>
                                    <a th:case="false" class="nav-link"
                                       th:href="@{{url}(url=${menu.url}, menuName=${menu.menuName})}">
                                        <span class="nav-link-icon d-md-none d-lg-inline-block"></span>
                                        <span class="nav-link-title" th:text="${menu.menuName}"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-columns dropdown-menu-columns-2"
                                        th:if="${menu.child.size() > 0}">
                                        <li th:each="item:${menu.child}">
                                            <a class="dropdown-item"
                                               th:href="@{{url}(url=${item.url}, menuName=${item.menuName})}"
                                               th:text="${item.menuName}"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    <!-- Page title -->
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <h2 class="page-title" th:text="${text}"></h2>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="table-responsive" style="padding: 10px">
                            <div id="toolbar">
                                <shiro:hasPermission name="sys:menu:add">
                                    <button class="btn btn-primary menu_add">
                                        新增
                                    </button>
                                </shiro:hasPermission>

                                <shirp:hasPermission name="sys:menu:alter">
                                    <button class="btn btn-primary menu_edit">
                                        编辑
                                    </button>
                                </shirp:hasPermission>

                                <shiro:hasPermission name="sys:menu:del">
                                    <button class="btn btn-primary menu_del">
                                        删除
                                    </button>
                                </shiro:hasPermission>
                            </div>
                            <table id="user_table" data-toolbar="#toolbar"
                                   class="table table-striped table-bordered"></table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ml-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    <a href="./docs/index.html" class="link-secondary">文档</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="./faq.html" class="link-secondary">FAQ</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/tabler/tabler" target="_blank"
                                       class="link-secondary">源代码
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            Copyright © 2020
                            <a href="." class="link-secondary">Tabler</a>.
                            All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://libs.cdnjs.net/jquery/1.10.0/jquery.min.js"></script>
        <script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.18.0/bootstrap-table.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
        <script src="/dist/js/bootstrap-table-treegrid.min.js"></script>
        <script src="/dist/js/tabler.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
        <script src="/dist/js/base.js"></script>
        <script src="/dist/js/menu.js"></script>
        <script type="text/javascript">
            document.body.style.display = "block";
            var $table = $('#user_table')
            $(function () {
                $table.bootstrapTable({
                    url: '/menu/getTreeTable',
                    idField: 'id',
                    treeEnable: true,
                    treeShowField: 'title',
                    parentIdField: 'pid',
                    columns: [{radio: true},
                        {
                            field: 'title',
                            title: '名称'
                        },
                        {
                            field: 'type',
                            title: '类型',
                            formatter: function formatter(value, row) {
                                if (value == 'D') {
                                    return '<a class="btn btn-primary btn-pill btn-sm" style="cursor: default;color: #ffffff">目录</a>';
                                }
                                if (value == 'M') {
                                    return '<a class="btn btn-success btn-pill btn-sm" style="cursor: default;color: #ffffff">菜单</a>';
                                }
                                if (value == 'B') {
                                    return '<a class="btn btn-info btn-pill btn-sm" style="cursor: default;color: #ffffff">按钮</a>';
                                }
                            }
                        },
                        {
                            field: 'url',
                            title: '地址',
                        },
                        {
                            field: 'permission',
                            title: '权限'
                        },
                        {
                            field: 'isDelete',
                            title: '状态',
                            formatter: function formatter(value, row) {
                                if (1 == value) {
                                    return "冻结";
                                }
                                if (0 == value) {
                                    return "启用";
                                }
                            }
                        }
                    ],

                    onPostBody: function () {
                        var columns = $table.bootstrapTable('getOptions').columns

                        if (columns && columns[0][1].visible) {
                            $table.treegrid({
                                treeColumn: 1,
                                onChange: function () {
                                    $table.bootstrapTable('resetView')
                                }
                            })
                        }
                    }
                })
            })

            function edit(id, pid, type) {
                layuiIframe("编辑", "/menu/menuUpdate?parentId=" + pid + "&id=" + id + "&type=" + type);
            }

            $(".menu_add").click(function () {
                layuiIframe("新增", "/menu/addMenu");
            });

            $(".menu_edit").click(function () {
                var row = $table.bootstrapTable('getSelections');
                if (row.length <= 0) {
                    layer.msg('请选择一条记录！');
                    return;
                }
                layuiIframe("编辑", "/menu/menuUpdate?parentId=" + row[0].pid + "&id=" + row[0].id + "&type=" + row[0].type);
            });

            $(".menu_del").click(function () {
                var row = $table.bootstrapTable('getSelections');
                if (row.length <= 0) {
                    layer.msg('请选择一条记录！');
                    return;
                }
                if (delMenu(row[0].id)) {
                    layer.msg("请先删除子菜单");
                    return;
                }
                ;
                window.location.reload();
            });

        </script>
    </body>
</html>
