<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4"/>
        <meta name="theme-color" content="#206bc4"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="MobileOptimized" content="320"/>
        <meta name="robots" content="noindex,nofollow,noarchive"/>
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
        <!-- CSS files -->
        <link href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
        <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
        <link href="/dist/css/demo.min.css" rel="stylesheet"/>
        <link href="/dist/css/metroStyle/metroStyle.css" rel="stylesheet"/>
        <style>
            body {
                display: none;
            }
        </style>
    </head>
    <body class="antialiased">
        <div class="page">
            <div class="content">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="row" style="padding: 20px">
                                <form action="https://httpbin.org/post" method="post">
                                    <div class="mb-3">
                                        <label class="form-label">子菜单</label>
                                        <ul id="treeDemo" class="ztree"></ul>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">名称</label>
                                        <input type="text" class="form-control" name="example-text-input"
                                               th:value="${menu.menuName}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">状态</label>
                                        <input type="text" class="form-control" name="example-text-input"
                                               th:value="${menu.isDelete} ? 失效: 有效" readonly>
                                    </div>
                                    <div class="mb-3" th:switch="${menu.type}">
                                        <label class="form-label">类型</label>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               th:case="D"
                                               value="目录" readonly>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               th:case="M"
                                               value="菜单" readonly>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               th:case="B"
                                               value="按钮" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">排序</label>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               th:value="${menu.sort}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">创建时间</label>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               th:value="${#dates.format(menu.createTime,'yyyy-MM-dd HH:mm:ss')}"
                                               readonly>
                                    </div>
                                    <div class="mb-3" th:if="${menu.updateTime != null}">
                                        <label class="form-label">修改时间</label>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               th:value="${#dates.format(menu.updateTime,'yyyy-MM-dd HH:mm:ss')}"
                                               readonly>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Libs JS -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/js/jquery.ztree.all.js"></script>
        <!-- Tabler Core -->
        <script src="/dist/js/tabler.min.js"></script>
        <script>
            var pid = '[[${pid}]]';
            var currentMenu = '[[${menu.menuName}]]';
            var url = "/menu/zTreeData?parentId=" + pid + "&type=M";
            document.body.style.display = "block";
            var setting = {
                async: {
                    enable: true,
                    url: url,
                    autoParam: ["id"],
                    type: "get",
                }
            };
            $(document).ready(function () {
                var tree = $.fn.zTree.init($("#treeDemo"), setting);
                var nodes = tree.getNodes();
                console.log(nodes)
                // if (nodes.length == 0) {
                    var newNode = {pid: 0, name: currentMenu};
                    tree.addNodes(null, newNode);
                // }
            });

        </script>
    </body>
</html>
