<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4"/>
        <meta name="theme-color" content="#206bc4"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="MobileOptimized" content="320"/>
        <meta name="robots" content="noindex,nofollow,noarchive"/>
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
        <!-- CSS files -->
        <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
        <link href="/dist/css/demo.min.css" rel="stylesheet"/>
        <link href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
        <link href="/dist/css/metroStyle/metroStyle.css" rel="stylesheet"/>
        <style>
            body {
                display: none;
            }
        </style>
    </head>
    <body class="antialiased">
        <div class="page">
            <div class="content">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="row" style="padding: 20px">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group mb-3 ">
                                            <label class="form-label required">类型</label>
                                            <div>
                                                <select id="type" class="form-select " onchange="labelShow(this)">
                                                    <option value="">请选择</option>
                                                    <option value="D">目录</option>
                                                    <option value="M">菜单</option>
                                                    <option value="B">按钮</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label required">名称</label>
                                            <div>
                                                <input type="text" class="form-control menuName" placeholder="请输入名称">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label required">归属关系</label>
                                            <ul id="treeDemo" class="ztree"></ul>
                                        </div>
                                        <div class="form-group mb-3 menuUrl" style="display: none">
                                            <label class="form-label required">地址</label>
                                            <div>
                                                <input type="text" class="form-control url" placeholder="请输入地址">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3 menuPermission" style="display: none">
                                            <label class="form-label required">权限</label>
                                            <div>
                                                <input type="text" class="form-control menuPer" placeholder="请输入权限">
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label required">状态</label>
                                            <div>
                                                <select class="form-select menuStatus">
                                                    <option value="">请选择</option>
                                                    <option value="true">失效</option>
                                                    <option value="false">有效</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label class="form-label">排序</label>
                                            <div>
                                                <input type="number" min="0" class="form-control menuSort"
                                                       placeholder="请输入地址排序">
                                            </div>
                                        </div>
                                        <div class="form-footer">
                                            <button type="button" class="btn btn-primary formCommit">提交</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Libs JS -->
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/js/jquery.ztree.all.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
        <!-- Tabler Core -->
        <script src="/dist/js/tabler.min.js"></script>
        <script>
            document.body.style.display = "block";
            var treeChecked;
            var url = "/menu/getZtreeMenu";
            var setting = {
                check: {
                    enable: true,
                    chkStyle: "radio",
                    radioType: "all"
                }, data: {
                    simpleData: {
                        enable: true
                    }
                }
            };
            var tree;
            $(document).ready(function () {
                var data = ["D", "M"];
                var treeData = null;
                $.ajax({
                    type: "POST",
                    url: url,
                    async: false,
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (res) {
                        treeData = res;
                    }
                });
                tree = $.fn.zTree.init($("#treeDemo"), setting, treeData);
                tree.expandAll(true);

            });

            function labelShow(item) {
                $(".url").val('');
                $(".menuName").val('');
                $(".menuPer").val('');
                $(".menuStatus").val('');
                $(".menuSort").val('');
                var val = item.value;
                if (val == 'D') {
                    $(".menuUrl").hide();
                    $(".menuPermission").hide();
                }
                if (val == 'M') {
                    $(".menuUrl").show();
                    $(".menuPermission").hide();
                }
                if (val == 'B') {
                    $(".menuUrl").hide();
                    $(".menuPermission").show();
                }
            };

            $(".formCommit").click(function () {
                treeChecked = tree.getCheckedNodes();
                if (treeChecked.length == 0) {
                    layer.msg("请选择归属关系!");
                    return;
                }
                var menuData = {
                    "parentId": treeChecked[0].id,
                    "menuName": $(".menuName").val(),
                    "url": $(".url").val(),
                    "isDelete": $(".menuStatus").val(),
                    "sort": $(".menuSort").val(),
                    "type": $("#type").val(),

                };
                $.ajax({
                    type: "POST",
                    url: '/menu/saveMenu',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(menuData),
                    success: function (res) {
                        if (res.code == 1) {
                            window.parent.location.reload();

                        } else {
                            layer.msg(res.message);
                        }
                    },
                    error: function (res) {

                    }
                });
            });
        </script>
    </body>
</html>
