<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4"/>
        <meta name="theme-color" content="#206bc4"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="mobile-web-app-capable" content="yes"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="MobileOptimized" content="320"/>
        <meta name="robots" content="noindex,nofollow,noarchive"/>
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
        <!-- CSS files -->
        <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
        <link href="/dist/css/demo.min.css" rel="stylesheet"/>
        <style>
            body {
                display: none;
            }
        </style>
    </head>
    <body class="antialiased">
        <div class="page">
            <div class="content">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="row" style="padding: 20px">
                                <form action="https://httpbin.org/post" method="post">
                                    <div class="mb-3">
                                        <label class="form-label">子菜单</label>
                                        <input type="text" class="form-control" name="example-text-input"
                                               placeholder="Input placeholder">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">名称</label>
                                        <input type="text" class="form-control" name="example-text-input"
                                               placeholder="Input placeholder">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">状态</label>
                                        <input type="text" class="form-control" name="example-text-input"
                                               placeholder="Input placeholder">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">类型</label>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               placeholder="Readonly..."
                                               value="Well, how'd you become king, then?" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">创建时间</label>
                                        <input type="text" class="form-control" name="example-disabled-input"
                                               placeholder="Readonly..."
                                               value="Well, how'd you become king, then?" readonly>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Libs JS -->
        <script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Tabler Core -->
        <script src="/dist/js/tabler.min.js"></script>
        <script>
            document.body.style.display = "block"
        </script>
    </body>
</html>
