<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
    <!-- CSS files -->
    <link href="/dist/css/tabler.min.css" rel="stylesheet"/>
    <link href="/dist/css/demo.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link href="/dist/css/metroStyle/metroStyle.css" rel="stylesheet"/>
    <style>
        body {
            display: none;
        }
    </style>
</head>
<body class="antialiased">
<div class="page">
    <div class="content">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <div class="row" style="padding: 20px">
                        <div class="card-body">
                            <form>
                                <div class="form-group mb-3">
                                    <label class="form-label required">角色名称</label>
                                    <div>
                                        <input type="text" class="form-control role-name">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">排序</label>
                                    <div>
                                        <input type="number" min="0" class="form-control role_sort">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label required">备注</label>
                                    <div>
                                        <input type="text" class="form-control role_remark">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label required">菜单权限</label>
                                    <ul id="menuPermission" class="ztree"></ul>
                                </div>
                                <div class="form-footer">
                                    <button type="button" class="btn btn-primary formCommit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Libs JS -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.01/js/jquery.ztree.all.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
<!-- Tabler Core -->
<script src="/dist/js/tabler.min.js"></script>
<script>
    document.body.style.display = "block";
    var treeChecked;
    var setting = {
        check: {
            enable: true,
            chkStyle: "checkbox",
            chkboxType: {"Y": "s", "N": "s"}
        }, data: {
            simpleData: {
                enable: true
            }
        }
    };
    var tree;
    $(document).ready(function () {
        var data = ["D", "M", "B"];
        var treeData = null;
        $.ajax({
            type: "POST",
            url: "/menu/getZtreeMenu",
            async: false,
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                treeData = res;
            }
        });
        tree = $.fn.zTree.init($("#menuPermission"), setting, treeData);
        tree.expandAll(true);

    });

    $(".formCommit").click(function () {
        treeChecked = tree.getCheckedNodes();
        if (treeChecked.length == 0) {
            layer.msg("请选择归属关系!");
            return;
        }
        let arr = [];
        for (var i = 0; i < treeChecked.length; i++) {
            // console.log(JSON.stringify(treeChecked[i].id));
            arr.push(treeChecked[i].id)
        }
        var data = {
            "roleName": $(".role-name").val(),
            "sort": $(".role_sort").val(),
            "remark": $(".role_remark").val(),
            "ids": arr
        };

        $.ajax({
            type: "POST",
            url: '/role/saveRole',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (res) {
                console.log(JSON.stringify(res));
                if (res.code == 1) {
                    // console.log(JSON.stringify(treeChecked[i].id));
                    // window.location.reload();
                    window.parent.location.reload();

                } else {
                    layer.msg(res.message);
                }
            },
            error: function (res) {

            }
        });
    });
</script>
</body>
</html>
