<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webiste.lhc.heron.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="webiste.lhc.heron.model.Menu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
    </resultMap>

    <select id="getParent" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT *
        FROM menu
        WHERE is_delete = FALSE
          AND parent_id = #{id}
        ORDER BY sort DESC
    </select>

    <select id="listMenuIdByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT DISTINCT t2.menu_id
        FROM sys_user_role AS t1,
             sys_role_menu AS t2
        WHERE t1.role_id = t2.role_id
          AND t1.user_id = #{userId}
    </select>
    <select id="listAvaliableMenu" resultMap="BaseResultMap">
        SELECT id, parent_id, menu_name
        FROM menu
        WHERE type = 'D'
           OR type = 'M' AND is_delete = FALSE and id = #{id}
    </select>
    <select id="haveChild" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM menu
        WHERE parent_id = #{id}
          AND is_delete = FALSE
          and type = 'M'
    </select>
    <select id="listTree" resultMap="BaseResultMap">
        SELECT id, parent_id, menu_name, type
        from menu
        WHERE type = #{type}
          AND parent_id = #{id}
    </select>
    <select id="menuCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        from menu
        WHERE type = 'M'
          AND is_delete = FALSE
          AND parent_id = #{id}
    </select>
    <select id="listMenus" resultType="java.util.Map">
        SELECT id, parent_id AS pid, menu_name AS title, url, permission, type, is_delete as isDelete
        FROM menu where is_delete = false
    </select>
</mapper>
