<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.lhc.heron.mapper.RoleInfoMapper">
    <resultMap id="BaseResultMap" type="website.lhc.heron.model.RoleInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="INTEGER" property="deleted"/>
    </resultMap>

    <insert id="addRolePer">
        INSERT INTO role_menu (role_id, menu_id) VALUES
        <foreach collection="ids" item="item" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>
    <delete id="delRolePer" parameterType="java.lang.Long">
        DELETE
        FROM role_menu
        WHERE role_id = #{roleId}
    </delete>

    <select id="getPermissionIds" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT t2.menu_id
        FROM role_info AS t1,
             role_menu AS t2
        WHERE t1.id = t2.role_id
          AND t1.id = #{roleId}
    </select>
    <select id="delRolePermission" parameterType="java.lang.Long">
        DELETE
        FROM role_menu
        WHERE role_id = #{roleId}
    </select>
    <select id="listRoleMap" resultType="java.util.Map">
        SELECT id, role_name AS name
        FROM role_info
        WHERE is_delete = FALSE
    </select>
</mapper>
